{% extends 'main_app/base.html' %}

{% block content %}

<div class="container">
    <h3>Search for Exercises</h3>
    <form method="get" action="{% url 'exercise_search' routine_id %}">
        <input type="text" name="query" placeholder="Search...">
        <button type="submit" class="btn">Search</button>
    </form>
    
    <ul>
        {% for exercise in exercises %}
        <li>
            <a href="{% url 'add_exercise' routine_id exercise.id %}">{{ exercise.name }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
