{% extends 'main_app/base.html' %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col s12">
            <h3 class="center-align">Dashboard</h3>
            <div class="card">
                <div class="card-content">
                    <span class="card-title center-align">My Routines</span>
                    <table class="striped">
                        <thead>
                            <tr>
                                <th>Day of the Week</th>
                                <th>Routine</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for day in days_of_week %}
                            <tr>
                                <td>{{ day }}</td>
                                <td>
                                    <!-- Here you'll later loop through routines and display if the day matches -->
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-action">
                    <a class="waves-effect waves-light btn" href="#add-routine">Add Routine</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
